$primary : #7380ec;
$danger : #ff7782;
$success : #41f1b6;
$warning : #ffbb55;
$white : #fff;
$info-dark : #7d8da1;
$info-light : #dce1eb;
$dark : #363949;
$light : rgba(132 , 139 , 200 , .18);
$primary-variant : #111e88;
$dark-variant : #677483;
$background : #f6f6f0;


$card-border-radius : 2rem;
$border-radius-1 : .4rem;
$border-radius-2 : .8rem;
$border-radius-3 : 1.2rem;

$card-padding : 1.8rem;
$padding-1 : 1.2rem;

$box-shadow :  0 2rem 3rem $light;