@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background-color: #f6f6f0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  color: #363949;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  -ms-grid-columns: 14rem auto 23rem;
      grid-template-columns: 14rem auto 23rem;
}

a {
  color: #363949;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: #7d8da1;
}

p {
  color: #677483;
}

b {
  color: #363949;
}

.primary {
  color: #7380ec;
}

.danger {
  color: #ff7782;
}

.warning {
  color: #ffbb55;
}

.success {
  color: #41f1b6;
}

aside {
  height: 100vh;
}

aside .top {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

aside .close {
  display: none;
}

aside .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside .sidebar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  color: #7d8da1;
  margin-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 3.7rem;
  -webkit-transition: all 0.3s eas;
  transition: all 0.3s eas;
}

aside .sidebar a:hover {
  color: #7380ec;
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar a span {
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: rgba(132, 139, 200, 0.18);
  color: #7380ec;
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #7380ec;
}

aside .sidebar a.active span {
  color: #7380ec;
  margin-left: calc(1rem - 3px);
}

aside .sidebar .message-count {
  background: #ff7782;
  color: #fff;
  padding: 2px 10px;
  font-size: 11px;
  border-radius: 0.4rem;
}

aside h3 {
  font-weight: 500;
}

main {
  margin-top: 1.4rem;
}

main .date {
  display: inline-block;
  color: rgba(132, 139, 200, 0.18);
  border-radius: 0.4rem;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
  background: rgba(132, 139, 200, 0.18);
}

main .date input[type="date"] {
  background: transparent;
  color: #363949;
}

main .insights {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: #fff;
  padding: 1.8rem;
  border-radius: 2rem;
  margin-top: 1rem;
  -webkit-box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
          box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .insights > div:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .insights > div span {
  background: #7380ec;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

main .insights > div.expenses span {
  background: #ff7782;
}

main .insights > div.income span {
  background: #41f1b6;
}

main .insights > div .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
  white-space: nowrap;
}

main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .insights svg {
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: #7380ec;
  stroke-width: 14;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .insights small {
  margin-top: 1.3rem;
  display: block;
}

main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: .8rem;
}

main .recent-orders table {
  background-color: #fff;
  width: 100%;
  border-radius: 2rem;
  padding: 1.8rem;
  text-align: center;
  -webkit-box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
          box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main .recent-orders table:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .recent-orders table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
  color: #677483;
}

main .recent-orders table tbody tr:last-child td {
  border: 0;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: #7380ec;
}
/*# sourceMappingURL=style.css.map */